.button-load-more,
.button-search {
  background-color: darkslategray;
  color: cyan;
  font-size: 30px;
  font-weight: bold;
  border-radius: 7%;
  border: 2px solid darkcyan;
  padding: 5px;
  margin-bottom: 30px;
}
.form-control {
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 20px;
  border: 2px solid darkslategray;
  border-radius: 7%;
  color: darkcyan;
}
.sr-only {
  color: darkcyan;
  font-size: 30px;
  font-weight: bold;
}

body {
  margin: 100px 5%;
  background-color: lightgrey;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.gallery-item {
  margin: 15px;
}

.search-and-loadmore {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-card img {
  width: 350px;
  height: 350px;
  margin: 15px;
  object-fit: cover;
  box-shadow: 7px 7px 35px darkcyan;
}

.is-hidden {
  display: none;
}

.stats {
  display: flex;
}

.stats-item {
  margin: 10px;
}
